Расчет без правильного сцепления. Правильное - на основе joined_df

In [40]:
import pandas as pd

In [10]:
# ratings_df = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_07\\ml-latest-small\\ratings.csv', \
#                          sep=',', header=0, encoding='UTF-8')
# movie_df = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_07\\ml-latest-small\\movies.csv', \
#                          sep=',', header=0, encoding='UTF-8')
# joined_df = movie_df.merge(ratings_df, on='movieId', how='left')

In [58]:
# Так как по нормальному открыть не получается, допиливаем бубном
f = open(u'C:\\Users\\RShayakhmetov\\Desktop\\Руслан\\12.PythonData\\00. УчебныеМатериалы\\01. PYDA\\PYDA_08\\ml-latest-small\\ratings.csv')
ratings_df = pd.read_csv(f,  sep=',', header=0, encoding='UTF-8')
f.close()
ratings_df.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [60]:
# Так как по нормальному открыть не получается, допиливаем бубном
m = open(u'C:\\Users\\RShayakhmetov\\Desktop\\Руслан\\12.PythonData\\00. УчебныеМатериалы\\01. PYDA\\PYDA_08\\ml-latest-small\\movies.csv')
movie_df = pd.read_csv(m, sep=',', names=['movieId','title','genres'], encoding='UTF-8')
m.close()
movie_df = movie_df.drop(movie_df.index[0])
movie_df.head()

,movieId,title,genres
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,2,Jumanji (1995),Adventure|Children|Fantasy
3,3,Grumpier Old Men (1995),Comedy|Romance
4,4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,5,Father of the Bride Part II (1995),Comedy

In [148]:
years = []
for element in range(1950, 2011):
    years.append(element)  
# years

In [149]:
def production_year(a):
    for year in years:
        if str(year) in a:
            return year
    return 1900

In [150]:
movie_df['year'] = movie_df['title'].apply(production_year)
movie_df.tail()

,movieId,title,genres,year
9738,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1900
9739,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1900
9740,193585,Flint (2017),Drama,1900
9741,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1900
9742,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

In [ ]:
def groupby_function(data):
    return data.movieId.mean()

In [151]:
movie_df.groupby('year').apply(groupby_function).sort_values().head()

year
1952     5.619516e+62
1951     4.095314e+86
1950     4.394890e+86
1954     3.934413e+92
1953    3.056453e+119
dtype: float64