### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('power.csv')
data.head(5)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
# Отбор прибалтики
def baltic(country):
    """Объединение стран балтики"""
    if country in ['Lithuania','Latvia','Estonia']:
        return 'Прибалтика'
    return 'Other'

In [7]:
data['baltic'] = data.country.apply(baltic)
data.baltic.value_counts()

Other         1162176
Прибалтика      27306
Name: baltic, dtype: int64

In [26]:
filtered_countries = data[ (data['baltic']=='Прибалтика') & ((data['category']== 4) | \
                           (data['category']== 12)| (data['category']== 21)) \
                           & ((data['year']>= 2005)&(data['year']>= 2005)]

In [33]:
filtered_countries.quantity.head()

10617    1.0
10618    0.0
10619    0.0
10620    1.0
11156    1.0
Name: quantity, dtype: float64

In [34]:
filtered_countries.quantity.sum()

408081.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
country     1189482 non-null object
year        1189482 non-null int64
quantity    1189482 non-null float64
category    1189482 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [5]:
# data[ data['country'].str.contains('us', case=False) ]['country'].unique()
data[ data['country'] ==

array(['Austria', 'Brunei Darussalam', 'Australia', 'Russian Federation',
       'USSR (former)', 'Mauritius', 'Belarus', 'Cyprus',
       'Bonaire, St Eustatius, Saba'], dtype=object)