# Чтение данных из файлов

In [1]:
# открываем файл
# 'r' - прочитать файл
# 'w' - очистить файл и начать запись
# 'a' - добавить запись в конец файла
f = open('transactions.tsv', 'r')

In [4]:
# чтение файла построчно (независимо от размера)
print(f.readline())

2019-01-01	67

In [5]:
# закрываем файл
f.close()

In [6]:
# аналог
with open('transactions.tsv', 'r') as f:
    print(f.readline())

2019-01-01	78

### Упражнение
Дан лог покупок transactions.tsv.

Первый столбец - дата покупки, второй - сумма. Разделитель табуляция.

Необходимо посчитать:

1. Сумму покупок за все дни

2. Среднюю стоимость одной покупки

3. Посложнее - в какой день была максимальная выручка?

In [7]:
total_sum = 0

with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
        print(date, amount)

2019-01-01 78
2019-01-01 7
2019-01-01 67
2019-01-01 45
2019-01-01 26
2019-01-01 3
2019-01-01 18
2019-01-01 84
2019-01-01 46
2019-01-02 15
2019-01-02 67
2019-01-02 12
2019-01-02 18
2019-01-02 92
2019-01-02 38
2019-01-02 51
2019-01-02 52
2019-01-02 12
2019-01-03 59
2019-01-03 53
2019-01-03 52
2019-01-03 12
2019-01-03 56
2019-01-03 38
2019-01-03 81
2019-01-03 6
2019-01-03 35
2019-01-04 67
2019-01-04 63
2019-01-04 92
2019-01-04 34
2019-01-04 14
2019-01-04 85
2019-01-04 51
2019-01-04 81
2019-01-04 50
2019-01-05 11
2019-01-05 97
2019-01-05 84
2019-01-05 69
2019-01-05 93
2019-01-05 31
2019-01-05 4
2019-01-05 8
2019-01-05 43
2019-01-06 93
2019-01-06 94
2019-01-06 93
2019-01-06 58
2019-01-06 55
2019-01-06 96
2019-01-06 13
2019-01-06 3
2019-01-06 72
2019-01-07 37
2019-01-07 78
2019-01-07 27
2019-01-07 11
2019-01-07 85
2019-01-07 16
2019-01-07 13
2019-01-07 10
2019-01-07 34

In [13]:
total_sum = 0
total_count = 0
with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
#         print(date, amount)
        total_sum +=int(amount)
        total_count += 1
print(total_sum)
print(total_sum/total_count)

2988
47.42857142857143

In [14]:
# Общая сумма заказов
total_sum = 0
# Счетчик строк
m = 0
# Максимальная сумма покупки
maxim = -1
with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
        m += 1

        amount = float(amount)
        total_sum += amount
        
        if amount > maxim:
            maxim = amount

print(f'Общая сумма заказов: {total_sum}')
print(f'Средняя сумма покупки: {round(total_sum / m,2)}')
print(f'Максимальная сумма покупки: {maxim}')

Общая сумма заказов: 2988.0
Средняя сумма покупки: 47.43
Максимальная сумма покупки: 97.0

In [16]:
revenue ={}
revenue['2019-01-01'] = 100
revenue.setdefault('2019-01-01',0)

100

In [ ]:
total_sum = 0
revenue ={}
with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
        print(date, amount)

# Даты

In [18]:
import datetime # импорт библиотеки

In [27]:
from datetime import datetime # импорт класса из библиотеки

In [28]:
date_string = '09.05.2018  09:00'

In [29]:
# сейчас date_string это просто строка
type(date_string)

str

In [30]:
date_string[:10]

'09.05.2018'

In [31]:
datetime.strptime('09.05.2018 09:00', '%d.%m.%Y %I:%M')

datetime.datetime(2018, 5, 9, 9, 0)

In [34]:
datetime.strptime('09.05.2018Z09:00', '%d.%m.%YZ%H:%M') # в формате был Z, следуюет добавить в

datetime.datetime(2018, 5, 9, 9, 0)

In [35]:
datetime.strptime('09.05.2018Z09:00:00', '%d.%m.%YZ%H:%M:%S') # в формате был Z, следуюет добавить в

datetime.datetime(2018, 5, 9, 9, 0)

In [36]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

datetime.datetime(2018, 5, 9, 9, 0)

In [37]:
# теперь можем работать с датами
type(date_datetime)

datetime.datetime

In [38]:
date_datetime.year, date_datetime.hour

(2018, 9)

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

In [39]:
date_string_2 = 'May 25 2017 5:00AM'

In [42]:
date_datetime_2 = datetime.strptime( date_string_2, '%b %d %Y %I:%M%p' )
date_datetime_2

datetime.datetime(2017, 5, 25, 5, 0)

### Прибавление интервала к датам

In [43]:
from datetime import timedelta

In [44]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [45]:
type(start_date)

str

In [46]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

datetime.datetime(2018, 1, 1, 0, 0)

In [47]:
start_date_datetime + timedelta(days=1)

datetime.datetime(2018, 1, 2, 0, 0)

In [48]:
start_date_datetime + timedelta(days=-1)

datetime.datetime(2017, 12, 31, 0, 0)

In [49]:
start_date_datetime + timedelta(days=-7, minutes=-1)

datetime.datetime(2017, 12, 24, 23, 59)

In [50]:
start_date_datetime.weekday()

0

### Упражнение
Дана дата в формате '2018-09-01T09:30:00'. Прибавьте к ней 12 часов 15минут и 3 секунды.

In [51]:
date_str = '2018-09-01T09:30:00'

In [53]:
date_str = datetime.strptime( date_str, '%Y-%m-%dT%H:%M:%S')

In [55]:
date_str + timedelta(hours=12, minutes=15, seconds=3)

datetime.datetime(2018, 9, 1, 21, 45, 3)

In [56]:
?timedelta
# Тут что-то нес про кварталы....погуглить в pandas

### Перевод обратно в строку

In [57]:
date = datetime(2018, 9, 1)
date

datetime.datetime(2018, 9, 1, 0, 0)

In [58]:
date.strftime('%Y-%m-%d')

'2018-09-01'

In [59]:
date.strftime('%B %d %Y %I:%M%p')

'September 01 2018 12:00AM'

In [60]:
# внезапно

date.strftime('%Y-%m-01')

'2018-09-01'

In [61]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [62]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

2018-01-01 00:00:00 2018-01-07 00:00:00

In [63]:
start_date_dt

datetime.datetime(2018, 1, 1, 0, 0)

In [64]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [65]:




current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

### Упражнение
Напишите алгоритм, который "пробегает" период 1 до 7 сентября по часам. Формат вывода '06.01.2018 23:00:00'.

In [ ]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

In [66]:
date_start = datetime(2018, 9, 1)
date_end = datetime(2018, 9, 7)

In [69]:
date_start = datetime(2018, 9, 1)
date_end = datetime(2018, 9, 7)
current_dt = date_start
while current_dt <= date_end:
    print(current_dt.strftime('%Y-%m-%d %H:%m:%S'))
    
    current_dt += timedelta(hours=1)

2018-09-01 00:09:00
2018-09-01 01:09:00
2018-09-01 02:09:00
2018-09-01 03:09:00
2018-09-01 04:09:00
2018-09-01 05:09:00
2018-09-01 06:09:00
2018-09-01 07:09:00
2018-09-01 08:09:00
2018-09-01 09:09:00
2018-09-01 10:09:00
2018-09-01 11:09:00
2018-09-01 12:09:00
2018-09-01 13:09:00
2018-09-01 14:09:00
2018-09-01 15:09:00
2018-09-01 16:09:00
2018-09-01 17:09:00
2018-09-01 18:09:00
2018-09-01 19:09:00
2018-09-01 20:09:00
2018-09-01 21:09:00
2018-09-01 22:09:00
2018-09-01 23:09:00
2018-09-02 00:09:00
2018-09-02 01:09:00
2018-09-02 02:09:00
2018-09-02 03:09:00
2018-09-02 04:09:00
2018-09-02 05:09:00
2018-09-02 06:09:00
2018-09-02 07:09:00
2018-09-02 08:09:00
2018-09-02 09:09:00
2018-09-02 10:09:00
2018-09-02 11:09:00
2018-09-02 12:09:00
2018-09-02 13:09:00
2018-09-02 14:09:00
2018-09-02 15:09:00
2018-09-02 16:09:00
2018-09-02 17:09:00
2018-09-02 18:09:00
2018-09-02 19:09:00
2018-09-02 20:09:00
2018-09-02 21:09:00
2018-09-02 22:09:00
2018-09-02 23:09:00
2018-09-03 00:09:00
2018-09-03 01:09:00
2018-09-03 02:09:00
2018-09-03 03:09:00
2018-09-03 04:09:00
2018-09-03 05:09:00
2018-09-03 06:09:00
2018-09-03 07:09:00
2018-09-03 08:09:00
2018-09-03 09:09:00
2018-09-03 10:09:00
2018-09-03 11:09:00
2018-09-03 12:09:00
2018-09-03 13:09:00
2018-09-03 14:09:00
2018-09-03 15:09:00
2018-09-03 16:09:00
2018-09-03 17:09:00
2018-09-03 18:09:00
2018-09-03 19:09:00
2018-09-03 20:09:00
2018-09-03 21:09:00
2018-09-03 22:09:00
2018-09-03 23:09:00
2018-09-04 00:09:00
2018-09-04 01:09:00
2018-09-04 02:09:00
2018-09-04 03:09:00
2018-09-04 04:09:00
2018-09-04 05:09:00
2018-09-04 06:09:00
2018-09-04 07:09:00
2018-09-04 08:09:00
2018-09-04 09:09:00
2018-09-04 10:09:00
2018-09-04 11:09:00
2018-09-04 12:09:00
2018-09-04 13:09:00
2018-09-04 14:09:00
2018-09-04 15:09:00
2018-09-04 16:09:00
2018-09-04 17:09:00
2018-09-04 18:09:00
2018-09-04 19:09:00
2018-09-04 20:09:00
2018-09-04 21:09:00
2018-09-04 22:09:00
2018-09-04 23:09:00
2018-09-05 00:09:00
2018-09-05 01:09:00
2018-09-05 02:09:00
2018-09-05 03:09:00
2018-09-05 04:09:00
2018-09-05 05:09:00
2018-09-05 06:09:00
2018-09-05 07:09:00
2018-09-05 08:09:00
2018-09-05 09:09:00
2018-09-05 10:09:00
2018-09-05 11:09:00
2018-09-05 12:09:00
2018-09-05 13:09:00
2018-09-05 14:09:00
2018-09-05 15:09:00
2018-09-05 16:09:00
2018-09-05 17:09:00
2018-09-05 18:09:00
2018-09-05 19:09:00
2018-09-05 20:09:00
2018-09-05 21:09:00
2018-09-05 22:09:00
2018-09-05 23:09:00
2018-09-06 00:09:00
2018-09-06 01:09:00
2018-09-06 02:09:00
2018-09-06 03:09:00
2018-09-06 04:09:00
2018-09-06 05:09:00
2018-09-06 06:09:00
2018-09-06 07:09:00
2018-09-06 08:09:00
2018-09-06 09:09:00
2018-09-06 10:09:00
2018-09-06 11:09:00
2018-09-06 12:09:00
2018-09-06 13:09:00
2018-09-06 14:09:00
2018-09-06 15:09:00
2018-09-06 16:09:00
2018-09-06 17:09:00
2018-09-06 18:09:00
2018-09-06 19:09:00
2018-09-06 20:09:00
2018-09-06 21:09:00
2018-09-06 22:09:00
2018-09-06 23:09:00
2018-09-07 00:09:00

In [71]:
start_date, end_date = '01.09.2019 00:00:00', '07.09.2019 00:00:00'
start_date_dt = datetime.strptime(start_date, '%d.%m.%Y %H:%M:%S')
end_date_dt = datetime.strptime(end_date, '%d.%m.%Y %H:%M:%S')
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%d.%m.%Y %H:%M:%S'))
    current_dt += timedelta(hours=1)

01.09.2019 00:00:00
01.09.2019 01:00:00
01.09.2019 02:00:00
01.09.2019 03:00:00
01.09.2019 04:00:00
01.09.2019 05:00:00
01.09.2019 06:00:00
01.09.2019 07:00:00
01.09.2019 08:00:00
01.09.2019 09:00:00
01.09.2019 10:00:00
01.09.2019 11:00:00
01.09.2019 12:00:00
01.09.2019 13:00:00
01.09.2019 14:00:00
01.09.2019 15:00:00
01.09.2019 16:00:00
01.09.2019 17:00:00
01.09.2019 18:00:00
01.09.2019 19:00:00
01.09.2019 20:00:00
01.09.2019 21:00:00
01.09.2019 22:00:00
01.09.2019 23:00:00
02.09.2019 00:00:00
02.09.2019 01:00:00
02.09.2019 02:00:00
02.09.2019 03:00:00
02.09.2019 04:00:00
02.09.2019 05:00:00
02.09.2019 06:00:00
02.09.2019 07:00:00
02.09.2019 08:00:00
02.09.2019 09:00:00
02.09.2019 10:00:00
02.09.2019 11:00:00
02.09.2019 12:00:00
02.09.2019 13:00:00
02.09.2019 14:00:00
02.09.2019 15:00:00
02.09.2019 16:00:00
02.09.2019 17:00:00
02.09.2019 18:00:00
02.09.2019 19:00:00
02.09.2019 20:00:00
02.09.2019 21:00:00
02.09.2019 22:00:00
02.09.2019 23:00:00
03.09.2019 00:00:00
03.09.2019 01:00:00
03.09.2019 02:00:00
03.09.2019 03:00:00
03.09.2019 04:00:00
03.09.2019 05:00:00
03.09.2019 06:00:00
03.09.2019 07:00:00
03.09.2019 08:00:00
03.09.2019 09:00:00
03.09.2019 10:00:00
03.09.2019 11:00:00
03.09.2019 12:00:00
03.09.2019 13:00:00
03.09.2019 14:00:00
03.09.2019 15:00:00
03.09.2019 16:00:00
03.09.2019 17:00:00
03.09.2019 18:00:00
03.09.2019 19:00:00
03.09.2019 20:00:00
03.09.2019 21:00:00
03.09.2019 22:00:00
03.09.2019 23:00:00
04.09.2019 00:00:00
04.09.2019 01:00:00
04.09.2019 02:00:00
04.09.2019 03:00:00
04.09.2019 04:00:00
04.09.2019 05:00:00
04.09.2019 06:00:00
04.09.2019 07:00:00
04.09.2019 08:00:00
04.09.2019 09:00:00
04.09.2019 10:00:00
04.09.2019 11:00:00
04.09.2019 12:00:00
04.09.2019 13:00:00
04.09.2019 14:00:00
04.09.2019 15:00:00
04.09.2019 16:00:00
04.09.2019 17:00:00
04.09.2019 18:00:00
04.09.2019 19:00:00
04.09.2019 20:00:00
04.09.2019 21:00:00
04.09.2019 22:00:00
04.09.2019 23:00:00
05.09.2019 00:00:00
05.09.2019 01:00:00
05.09.2019 02:00:00
05.09.2019 03:00:00
05.09.2019 04:00:00
05.09.2019 05:00:00
05.09.2019 06:00:00
05.09.2019 07:00:00
05.09.2019 08:00:00
05.09.2019 09:00:00
05.09.2019 10:00:00
05.09.2019 11:00:00
05.09.2019 12:00:00
05.09.2019 13:00:00
05.09.2019 14:00:00
05.09.2019 15:00:00
05.09.2019 16:00:00
05.09.2019 17:00:00
05.09.2019 18:00:00
05.09.2019 19:00:00
05.09.2019 20:00:00
05.09.2019 21:00:00
05.09.2019 22:00:00
05.09.2019 23:00:00
06.09.2019 00:00:00
06.09.2019 01:00:00
06.09.2019 02:00:00
06.09.2019 03:00:00
06.09.2019 04:00:00
06.09.2019 05:00:00
06.09.2019 06:00:00
06.09.2019 07:00:00
06.09.2019 08:00:00
06.09.2019 09:00:00
06.09.2019 10:00:00
06.09.2019 11:00:00
06.09.2019 12:00:00
06.09.2019 13:00:00
06.09.2019 14:00:00
06.09.2019 15:00:00
06.09.2019 16:00:00
06.09.2019 17:00:00
06.09.2019 18:00:00
06.09.2019 19:00:00
06.09.2019 20:00:00
06.09.2019 21:00:00
06.09.2019 22:00:00
06.09.2019 23:00:00
07.09.2019 00:00:00

### Нагрузка на систему по часам

In [72]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        
        dt = datetime.strptime(line, '%Y-%m-%dT%H:%M:%SZ')
        
        # номер часа
        print(dt.hour)
        break
        
        # вычисления нагрузки на систему...
        
# результат
stats

2018-04-30T21:37:41Z
21

{}

In [75]:
# пример решения
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        dt = datetime.strptime(line, '%Y-%m-%dT%H:%M:%SZ')
        stats.setdefault(dt.hour, 0)

        stats[dt.hour] += 1

In [76]:
#       Альтернатива выбора часа, будет работать 
dt = '2018-04-30T21:37:41Z'
dt[11:13]

'21'

In [74]:
stats

{0: 22,
 1: 10,
 2: 8,
 3: 7,
 4: 7,
 5: 10,
 6: 19,
 7: 22,
 8: 42,
 9: 33,
 10: 77,
 11: 52,
 12: 64,
 13: 56,
 14: 57,
 15: 68,
 16: 56,
 17: 56,
 18: 72,
 19: 63,
 20: 67,
 21: 59,
 22: 37,
 23: 36}

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [77]:
import time
from datetime import date
from datetime import datetime

In [78]:
d = date(2019, 3, 11)

unixtime = time.mktime(d.timetuple())
unixtime

1552251600.0

In [79]:
from datetime import datetime

In [80]:
datetime.fromtimestamp(1552251600)

datetime.datetime(2019, 3, 11, 0, 0)

# Обработка ошибок

In [81]:
some_num = '123'

In [82]:
float(some_num)

123.0

In [83]:
ups = '123a'

In [84]:
float(ups)

ValueError: could not convert string to float: '123a'

In [85]:
try:
    float(ups)

except:
    print('Ошибка')
    
print('Проехали')

Ошибка
Проехали

In [86]:
ups = '123fff'

In [87]:
# полная версия traceback
import traceback

try:
    float(ups)

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

None
Проехали

Traceback (most recent call last):
  File "<ipython-input-87-0b6b66d46d0e>", line 5, in <module>
    float(ups)
ValueError: could not convert string to float: '123fff'

### Упражнение
Создайте словарь stats = {'monday': 100, 'tuesday': 200}. 

Какой тип ошибки вызовет обращение stats['wednesday']?

# Большие файлы

In [88]:
with open('unique_ids_data.csv') as f:
    for line in f:
        line = line.strip()
        print(line)

1
1
1
1
2
2
3
9

In [89]:
unique_count = 1
previous_user_id = None

with open('unique_ids_data.csv') as f:
    for line in f:
        current_user_id = line.strip()
        
        if previous_user_id and previous_user_id != current_user_id:
            unique_count += 1
            
        previous_user_id = current_user_id

print(unique_count)

4

### Словари и поиск
Про хэш-таблицы https://habr.com/ru/post/247843/

In [90]:
import pandas as pd

In [91]:
stats = pd.read_csv('stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [92]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
day_number    10000 non-null int64
user_id       10000 non-null int64
category      10000 non-null int64
cost          10000 non-null int64
dtypes: int64(4)
memory usage: 312.6 KB

### В чем задача
Надо по заданному значению первых трех столбцов найти значение cost

In [93]:
line_to_find = [20, 20552, 3]

**Вариант 1**

Пробуем методами pandas (лучше не делайте так перед разработчиками)

In [94]:
stats[ (stats.day_number == line_to_find[0]) & 
       (stats.user_id == line_to_find[1]) & 
       (stats.category == line_to_find[2]) ].cost

4999    39156
Name: cost, dtype: int64

In [95]:
%%time
for i in range(10**4):
    cost = stats[ (stats.day_number == line_to_find[0]) & 
       (stats.user_id == line_to_find[1]) & 
       (stats.category == line_to_find[2]) ].cost

# выводим результат последнего "испытания"
print(cost)

4999    39156
Name: cost, dtype: int64
Wall time: 8.16 s

**Вариант 2**

Загоняем все в список

In [96]:
stats_list = []

with open('stats.csv') as f:
    for line in f:
        line = line.strip().split(',')
        stats_list.append(line)
        
stats_list[:5]

[['14', '26376', '3', '13301'],
 ['12', '7316', '2', '19329'],
 ['28', '2803', '2', '87381'],
 ['25', '22022', '2', '94036'],
 ['20', '13883', '5', '50722']]

In [97]:
# взято из середины, значение cost=39156
line_to_find = ['20', '20552', '3']

In [98]:
for line in stats_list:
    if line[:3] == line_to_find:
        print(line[3])
        break

39156

In [99]:
%%time
for i in range(10**4):
    for line in stats_list:
        if line[:3] == line_to_find:
            cost = line[3]
            break

Wall time: 6 s

**Вариант 3**

Используем словари

In [100]:
stats_dict = {}

with open('stats.csv') as f:
    for line in f:
        line = line.strip().split(',')
        stats_dict[tuple(line[:3])] = line[3]

In [101]:
for key, value in stats_dict.items():
    print(key, value)
    break

('14', '26376', '3') 13301

In [102]:
line_to_find = ('20', '20552', '3')

In [103]:
%%time
for i in range(10**4):
    cost = stats_dict[line_to_find]
    
print(cost)

39156
Wall time: 2 ms