In [2]:
import pandas as pd

Задание 1. 
* Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
* Определите какому фильму было выставлено больше всего оценок 5.0.

**Считываем данные из файла**

In [111]:
# Так как по нормальному открыть не получается, допиливаем бубном
f = open(u'C:\\Users\\RShayakhmetov\\Desktop\\Руслан\\12.PythonData\\00. УчебныеМатериалы\\01. PYDA\\PYDA_06\\RepoLoad_20082019\\ml-latest-small\\ratings.csv')
ratings_df = pd.read_csv(f, sep=',', encoding='cp1251')
f.close()
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [30]:
type(ratings_df) # Тип датафрейма
ratings_df.shape # Размеры

(100836, 4)

In [55]:
# Посмотрим, какие оценки вообще ставят
ratings_df['rating'].value_counts().tail(10)

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [59]:
ratings_df[ ratings_df.rating == 5 ].count()

userId       13211
movieId      13211
rating       13211
timestamp    13211
dtype: int64

In [60]:
ratings_df.count()

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

In [85]:
ratings_df_5 = ratings_df[ ratings_df.rating == 5 ]

In [87]:
ratings_df_5.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [93]:
top = ratings_df_5['movieId'].value_counts().head(2)

In [94]:
top

318    153
296    123
Name: movieId, dtype: int64

In [117]:
# Так как по нормальному открыть не получается, допиливаем бубном
m = open(u'C:\\Users\\RShayakhmetov\\Desktop\\Руслан\\12.PythonData\\00. УчебныеМатериалы\\01. PYDA\\PYDA_06\\RepoLoad_20082019\\ml-latest-small\\movies.csv')
movie_df = pd.read_csv(m,names = ['movieId', 'title', 'genres'], sep=',', header=0, encoding='UTF-8')

m.close()
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [119]:
joined = movie_df.merge(ratings_df_5, on='movieId', how='left')
joined.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,850466616.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,832058959.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,848993983.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46.0,5.0,834787906.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57.0,5.0,965796031.0

In [133]:
top = joined['title'].value_counts().head(1)
top

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64