In [66]:
import pandas as pd

Задача 1.  

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId

In [68]:
# Шаг 01. Подгружаем исходный датафрейм
ratings = pd.read_csv('F:\\Program\\git_base\\GitHub\\MyRepo\\PYDA_08\\ml-latest-small\\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [70]:
# Шаг 02. Через группировку рассчитываем кол-во выставленных оценок
ratings_grouped = ratings.groupby('userId').count().reset_index()
# Шаг 03. Отбираем только юзеров, выставивших более 100 оценок
ratings_filtered = ratings_grouped[ratings_grouped['rating']>=100]
# Шаг 04. Формируем список юзеров в лист
ratings_100_list = ratings_filtered['userId'].tolist()
# Шаг 05. Отбираем только тех юзеров, кто в списке. Т.е. поставивших более 100 оценок
ratings_base = ratings[ ratings['userId'].isin(a)]
ratings_base.head()

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645
148       4       34     5.0  949919556
149       4      112     5.0  949810582
150       4      141     5.0  949919681
151       4      153     4.0  949811346

In [71]:
# Шаг 06.Функция разницы максимальной и минимальной даты
def groupby_function(ratings_base):
    return ratings_base.timestamp.max() - ratings_base.timestamp.min()

In [72]:
# Шаг 07. Выводим среднее время в днеях
print(f"Среднее время жизни составляет {round(ratings_base.groupby('userId').apply(groupby_function).mean()/86400,2)} дней")

Среднее время жизни составляет 455.23 дней