### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [75]:
import pandas as pd

In [76]:
data = pd.read_csv('power.csv')
filtered_countries = data[((data['country']=='Lithuania')|(data['country']=='Estonia')|(data['country']=='Latvia'))& \
                          (data['quantity'] >= 0)& \
                          ((data['category']== 4)|(data['category']== 12)|(data['category']== 21))& \
                          ((data['year'] >= 2005) & (data['year'] <= 2010)) ]
filtered_countries['quantity'].sum()

240580.0

In [19]:
data = pd.read_csv('power.csv')
data.head(5)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [20]:
# Отбор прибалтики
def baltic(country):
    """Объединение стран балтики"""
    if country in ['Lithuania','Latvia','Estonia']:
        return 'Прибалтика'
    return 'Other'

In [22]:
data['baltic'] = data.country.apply(baltic)
data.baltic.value_counts()

Other         1162176
Прибалтика      27306
Name: baltic, dtype: int64

In [60]:
filtered_countries = data[ (data['baltic']=='Прибалтика') & (data['quantity'] >= 0) & \
                         ((data['category']== 4)|(data['category']== 12)|(data['category']== 21)) & \
                          ((data['year'] >= 2005) & (data['year'] >= 2005))
                         ]
filtered_countries['quantity'].sum()

408195.0

In [73]:
filtered_countries = data[((data['country']=='Lithuania')|(data['country']=='Estonia')|(data['country']=='Latvia'))& \
                          (data['quantity'] >= 0)& \
                          ((data['category']== 4)|(data['category']== 12)|(data['category']== 21))& \
                          ((data['year'] >= 2005) & (data['year'] <= 2010)) ]

In [74]:
filtered_countries['quantity'].sum()

240580.0